<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About (Label 12)</h2>
                    <h3 class="section-subheading text-muted">Here is my long short story about how I became a high performance coach (Label 13)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011 (Label 13)</h4>
                                    <h4 class="subheading">CAF Facultad Ciencias del Deporte Murcia (Label 14)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">bla bla bla (Label 15)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011 (Label 16)</h4>
                                    <h4 class="subheading">HP Sports science Intern (Label 17)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">lalalala lalala lalala (Label 18)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012 (Label 19)</h4>
                                    <h4 class="subheading">Entrenamiento.PRO (Label 20)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Victor was a great leader lalala (Label 21)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014 (Label 22)</h4>
                                    <h4 class="subheading"> Unlimited Performance Training foundation (Label 23)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Here is where my adventure starts!!! (Label 24)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>